# 1c_198 drivers to Fisher's exact test

In [1]:
##STEP 1.1: Import required python libraries (matplotlib, pandas, numpy).

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Step 1.2 : Frequency tables of remaining 198 driver genes

In [7]:
# Open cleaned SNV, pivot file:
df1 = pd.read_csv("./output/6.3_LUAD_snv_mc3_OUT_cleaned_cSIF_pivot_16057genes.tsv",sep='\t',header=0) # 505 rows × 16059 columns   

# Make index from multi-columns:
df2 = df1.set_index(['tumor_stage', 'sample_id'])
df2 = df2.sort_index(ascending=True) 
with pd.option_context('display.max_rows',2): display(df2) # 505 rows × 16057 columns

,,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GNT,AAAS,AACS,AADAC,AADACL2,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
tumor_stage,sample_id,,,,,,,,,,,,,,,,,,,,,
Stage I,TCGA-49-AARQ-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Stage IV,TCGA-MP-A4T7-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
# open list of 198 driver genes file

df3=pd.read_csv("../01_Gene_lists/SuppTable1_All_Drivers_GeneList.tsv",sep='\t',header=0) 
drivlist198 = df3['PooledLUADdrivers_198'].dropna().unique().tolist()
len(drivlist198) # = 198

198

In [37]:
print(drivlist198)

['ACAD8', 'ACO1', 'ACTG1', 'ACTG2', 'ACVR1B', 'ACVR2A', 'ADAM10', 'AFF2', 'AFF4', 'AKT1', 'AMER1', 'ARFGAP1', 'ARHGAP26', 'ARID1A', 'ASXL3', 'ATIC', 'ATM', 'ATP6AP2', 'BAP1', 'BAZ2B', 'BLM', 'BMPR2', 'BRAF', 'BRWD1', 'CAPN7', 'CARM1', 'CASP8', 'CAT', 'CCAR1', 'CCT5', 'CDH1', 'CDH12', 'CDK12', 'CDKN1B', 'CDKN2A', 'CHD1L', 'CHEK2', 'CIC', 'CLASP2', 'CLSPN', 'CNOT3', 'CNOT4', 'COL1A1', 'COPS2', 'CREBBP', 'CRNKL1', 'CSNK1G3', 'CTCF', 'CTNNB1', 'CUL2', 'CUL3', 'CYLD', 'DDX3X', 'DDX5', 'DHX15', 'DNMT3A', 'EEF1B2', 'EFTUD2', 'EGFR', 'EIF2AK3', 'AGO3', 'EIF4A2', 'EIF4G1', 'EP300', 'EPHA4', 'EPHB2', 'ERBB2IP', 'ERCC2', 'EZH2', 'FAT1', 'FBXW7', 'FGFR2', 'FMR1', 'FN1', 'FUBP1', 'FUT9', 'FXR1', 'G3BP1', 'G3BP2', 'GNAI1', 'GNG2', 'GPSM2', 'HLA-A', 'HSP90AA1', 'HSP90AB1', 'HSPA8', 'IDH1', 'IREB2', 'IRS2', 'KDM6A', 'KDR', 'KEAP1', 'KLF6', 'KMT2A', 'KMT2C', 'KRAS', 'LCP1', 'LDHA', 'LPHN2', 'MAP2K1', 'MAP2K4', 'MAP3K1', 'MAP3K4', 'MAP4K1', 'MAP4K3', 'MAX', 'MED17', 'MED24', 'MEN1', 'MET', 'MGA', 'MKL1', 'MLH1', 'MMP16', 'MMP2', 'MSR1', 'MYB', 'MYH10', 'NCAM1', 'NCK1', 'NCKAP1', 'NECAB1', 'NEDD4L', 'NF1', 'NF2', 'NFE2L2', 'NPM1', 'NRAS', 'NTN4', 'NTRK2', 'NUP107', 'NUP98', 'PAX5', 'PBRM1', 'PCSK6', 'PHF6', 'PIK3CA', 'PIK3R1', 'PIK3R3', 'PIP5K1A', 'POLR2B', 'PPP2R1A', 'PPP2R5A', 'PRKCB', 'PRPF8', 'PRRX1', 'PSMA6', 'PSMD11', 'PTEN', 'PTGS1', 'PTPN11', 'PTPRD', 'RAD23B', 'RASA1', 'RB1', 'RBM10', 'RBM5', 'RHEB', 'RIT1', 'RTN4', 'RYR2', 'SETD2', 'SETDB1', 'SF3B1', 'SFPQ', 'SFTPB', 'SHMT1', 'SIN3A', 'SMAD2', 'SMAD4', 'SMARCA4', 'SMC1A', 'SORCS3', 'SOX1', 'SOX9', 'SPRR3', 'STAG1', 'STIP1', 'STK11', 'STK4', 'SVEP1', 'SYNCRIP', 'TAOK1', 'TAOK2', 'TBL1XR1', 'TCF12', 'TCF4', 'TCF7L2', 'TFDP1', 'TGFBR2', 'TNPO1', 'TOM1', 'TP53', 'TP53BP1', 'U2AF1', 'UPF3B', 'ZMYM2', 'ZNF814']

In [38]:
# All genes
gene16057 = df2.columns
print(len(gene16057)) # cleaning level C

16057

In [39]:
notlistC = []
for i in list(range(len(drivlist198))):
    if drivlist198[i] not in gene16057: 
        notlistC.append(drivlist198[i])
print(notlistC) #only 1 gene (RAD23B) that is not in the list

['RAD23B']

In [40]:
# So, remove 'RAD23B' from the list
drivlist198.remove('RAD23B')
drivlist197 = drivlist198
print(len(drivlist197))

197

In [43]:
# Cut index
df197dri_cSIF = df2.iloc[:,0:0] 
# For loop to append columns of 197 driver genes
for i in list(range(len(drivlist197))):  
    df197dri_cSIF[drivlist197[i]] = np.array(df2[drivlist197[i]])
    
with pd.option_context('display.max_rows',2): display(df197dri_cSIF) # 505 rows × 197 columns

,,ACAD8,ACO1,ACTG1,ACTG2,ACVR1B,ACVR2A,ADAM10,AFF2,AFF4,AKT1,...,TFDP1,TGFBR2,TNPO1,TOM1,TP53,TP53BP1,U2AF1,UPF3B,ZMYM2,ZNF814
tumor_stage,sample_id,,,,,,,,,,,,,,,,,,,,,
Stage I,TCGA-49-AARQ-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Stage IV,TCGA-MP-A4T7-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
# The .loc attribute is the primary access method
# https://pandas.pydata.org/pandas-docs/version/0.13.1/indexing.html

df197dri_cSIF_stg1 = df197dri_cSIF.loc['Stage I':'Stage IB'] # 276 rows × 33 columns
df197dri_cSIF_stg2 = df197dri_cSIF.loc['Stage II':'Stage IIB'] # 121 rows × 33 columns
df197dri_cSIF_stg3 = df197dri_cSIF.loc['Stage IIIA':'Stage IIIB'] # *82 rows (reduced from 83) × 33 columns
df197dri_cSIF_stg4 = df197dri_cSIF.loc['Stage IV'] # 26 rows × 33 columns
    
## Total remaining samples = 276 (stg1) + 121 (stg2) + 82 (stg3) + 26 (stg4) = 505 samples

In [53]:
# Compute frequency of 197 driver genes, for 4 separated stages
cSIF33_stg1 = df197dri_cSIF_stg1.sum(axis=0)
cSIF33_stg2 = df197dri_cSIF_stg2.sum(axis=0)
cSIF33_stg3 = df197dri_cSIF_stg3.sum(axis=0)
cSIF33_stg4 = df197dri_cSIF_stg4.sum(axis=0)

df4 = pd.DataFrame(cSIF33_stg1)
df4.rename(columns={0: 'cSIF33_stg1'},inplace=True)
df4['cSIF33_stg1'] = cSIF33_stg1
df4['cSIF33_stg2'] = cSIF33_stg2
df4['cSIF33_stg3'] = cSIF33_stg3
df4['cSIF33_stg4'] = cSIF33_stg4

with pd.option_context('display.max_rows',4): display(df4)

        cSIF33_stg1  cSIF33_stg2  cSIF33_stg3  cSIF33_stg4
ACAD8           3.0          1.0          1.0          0.0
ACO1            3.0          0.0          0.0          0.0
...             ...          ...          ...          ...
ZMYM2           4.0          0.0          1.0          0.0
ZNF814          2.0          0.0          0.0          0.0

[197 rows x 4 columns]

In [55]:
df4.to_csv('./output/6.4_LUAD_snv_mc3_OUT_Freq197-4stg_3cleans.tsv', sep="\t",index=True)